.sendbtn
{
    font-family:sans-serif;
    font-size:1em;
    background:white;
    width:7em;
    height:5em;
    padding:0;
    margin:0;
    border:0
    none;border-bottom-right-radius:.5em;
    -moz-border-radius-bottomright:.5em;
    -webkit-border-bottom-right-radius:.5em
}
.sendbtnwrapper
{
    overflow:hidden;
    margin-left:.5em;
    border:1px solid #CCC;
    border-bottom-right-radius:.5em;
    -moz-border-radius-bottomright:.5em;
    -webkit-border-bottom-right-radius:.5em
}
.chatmsgwrapper
{
    background:white;
    border:1px solid #CCC;
    height:4.5em;
    padding:.25em
}
.chatmsg
{
    width:100%;
    background:white;
    font-family:sans-serif;
    font-size:1em;
    border:none;
    padding:0;
    margin:0;
    outline: none;
    height:4.5em;
    font-size:1em;
    overflow:auto;
    -webkit-appearance:none;
    border-radius:0;
    -webkit-border-radius:0
}
.btnkbshortcut
{
    font-size:.8em;
    color:#9cf;
    font-weight:bold;
    margin-top:.25em;
    height:0;
    overflow:scroll;
}:disabled
 .btnkbshortcut,[disabled]
 .btnkbshortcut
 {
     color:#a1c3e6
 }

.controltable
{
    border-collapse: separate;
    border-spacing: 0;
}
.disconnectbtnwrapper.newbtn {
     background: #409ffe;
     background-image: -o-linear-gradient(top,#80c0ff 0,#017ffe 100%);
     background-image: -moz-linear-gradient(top,#80c0ff 0,#017ffe 100%);
     background-image: -webkit-gradient(linear,0 0,0 100%,from(#80c0ff),to(#017ffe));
     background-image: -webkit-linear-gradient(top,#80c0ff 0,#017ffe 100%);
     background-image: -ms-linear-gradient(top,#80c0ff 0,#017ffe 100%);
     background-image: linear-gradient(top,#80c0ff 0,#017ffe 100%);
     color: white;
 }
.btnkbshortcut {
    font-size: .8em;
    color: #9cf;
    font-weight: bold;
    margin-top: .25em;
    height: 0;
    overflow: show;
}
.disconnectbtn {
    font-family: sans-serif;
    font-size: 1em;
    background: transparent;
    width: 7em;
    height: 5em;
    padding: 0;
    margin: 0;
    border: 0 none;
    border-bottom-left-radius: .5em;
    -moz-border-radius-bottomleft: .5em;
    -webkit-border-bottom-left-radius: .5em;
}
.disconnectbtnwrapper {
    overflow: hidden;
    margin-right: .5em;
    border: 1px solid #CCC;
    border-bottom-left-radius: .5em;
    -moz-border-radius-bottomleft: .5em;
    -webkit-border-bottom-left-radius: .5em;
    background: white;
}
.logbox {
    position: absolute;
    top: .5em;
    bottom: 0;
    left: .5em;
    right: 0;
    overflow: auto;
    _width: 97%;
    _height: 230px;
}
.statuslog {
    color: #555;
    font-size: .9em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.logwrapper {
    border: 1px solid #CCC;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    -moz-border-radius-topleft: .5em;
    -moz-border-radius-topright: .5em;
    -webkit-border-top-left-radius: .5em;
    -webkit-border-top-right-radius: .5em;
    background: white;
    position: absolute;
    left: .5em;
    right: .5em;
    bottom: 6em;
    _width: 96%;
    _height: 250px;

    margin-right: 168px;
    _width: 60%;
}
.controlwrapper {
    position: absolute;
    bottom: .5em;
    left: .5em;
    right: .5em;
    height: 5em;
}
.logitem {
    padding-bottom: .5em;
}
.youmsg, .strangermsg {
    margin: 0;
    padding: 0;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.youmsg .msgsource {
    color: blue;
    font-weight: bold;
}
.strangermsg .msgsource {
    color: red;
    font-weight: bold;
}
body
{
    font-family: Helvetica,Arial,sans-serif;
}